# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
disease_env/
venv/
ENV/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Compiled files
*.so
*.dll
*.exe

# HTML/CSS/JS build artifacts
*.min.js
*.min.css

# Others
requirements.txt.bak
